<%= content_for(:title) { @trip.title } %>

<div class="post trip-post">
  <h1><%= @trip.title %></h1>

  <% if current_user %>
    <div class="adm">
      <ul class="post-control">
        <li><%= link_to '[edit]', edit_trip_path(@trip) %></li>
        <li>
          <%= link_to '[delete]', @trip, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    </div>
  <% end %>

  <div id="timespan">
    <% if @trip.when_start == @trip.when_end %>
      <%= @trip.when_start.strftime('%B %d, %Y') %>
    <% elsif @trip.when_start.month != @trip.when_end.month %>
      <%= @trip.when_start.strftime('%B %d, %Y') %>&hellip;<%= @trip.when_end.strftime('%B %d') %>
    <% else %>
      <%= @trip.when_end.strftime('%d, %Y') %>
    <% end %>
  </div>

  <div class="post-content">
    <%= @trip.html.html_safe %>
  </div>
</div>
