<div class="project">
  <div>
    <%= link_to 'System Browser', 'https://github.com/kyrylo/system_browser_client' %>
    <span class="project__release-date">released on July 21, 2015</span>
  </div>
  <div>
    A desktop app for browsing Ruby code. Just click to get details about a
    module or class and explore its namespace or see the source of a method.
  </div>
</div>

<div class="project">
  <div>
    <%= link_to 'Fast Method Source', 'https://github.com/kyrylo/fast_method_source' %>
    <span class="project__release-date">released on June 18, 2015</span>
  </div>
  <div>
    A Ruby C extension for querying methods, procs and lambdas for their source
    code and comments. Extremely fast.
  </div>
</div>

<div class="project">
  <div>
    <%= link_to 'System Navigation', 'https://github.com/kyrylo/system_navigation' %>
    <span class="project__release-date">released on June 11, 2015</span>
  </div>
  <div>
    A library for the Ruby programming language that provides navigation and
    introspection capabilities for Ruby programs.
  </div>
</div>

<div class="project">
  <div>
    <%= link_to 'RMarshal', 'https://github.com/kyrylo/rmarshal' %>
    <span class="project__release-date">released on December 18, 2014</span>
  </div>
  <div>
    An Erlang library for deserialising Ruby objects dumped by Marshal.dump into
    Erlang terms.
  </div>
</div>

<div class="project">
  <div>
    <%= link_to 'Pry Theme', 'https://github.com/kyrylo/pry-theme' %>
    <span class="project__release-date">released on June 26, 2012</span>
  </div>
  <div>
    A plugin for the Pry REPL for the Ruby programming language, which
    allows to customise Pry colors via prytheme.rb files.
  </div>
</div>

<div class="project">
  <div>
    <%= link_to 'Entooru', 'https://github.com/kyrylo/entooru' %>
    <span class="project__release-date">released on April 16, 2012</span>
  </div>
  <div>
    A collection of my translations of various Ruby articles into the Russian
    language.
  </div>
</div>

<div class="project">
  <div>
    <%= link_to 'Patience', 'https://github.com/kyrylo/patience' %>
    <span class="project__release-date">released on March 8, 2012</span>
  </div>
  <div>
    Solitaire card game implemented in Ruby using the Gosu framework.
  </div>
</div>
