<div class="trip-thumbnails">
  <% @trips.each do |t| %>
    <div class="trip-thumb">
      <%= image_tag(t.thumb_url, size: '240x160') || image_path('missing.png') %>
      <div class="caption">
        <%= link_to t.where, trip_path(t) %>,
        <span class="when">
          <% if t.when_start.month == t.when_end.month %>
            <%= t.when_start.strftime('%B %Y') %>
          <% else %>
            <%= t.when_start.strftime('%B') %>&ndash;<%= t.when_end.strftime('%B %Y') %>
          <% end %>
        </span>
      </div>
    </div>
  <% end %>
</div>
