<%= content_for(:title) { @title } %>

<h1>Curriculum Vitae</h1>

<p>
  View my CV here online or <%= link_to 'download PDF version', 'cv.pdf' %>.
</p>
<p>
  A lot of people struggle with &ldquo;Kyrylo&rdquo; pronunciation:
  <%= link_to 'listen how to pronounce', 'kyrylo.mp3' %>.
</p>

<div class="cv">
  <%= render 'pages/cv/contacts' %>

  <h3 class="cv__header">Job objective</h3>
  <div>Not searching for a job at the moment. Thanks for taking the interest!</div>

  <h3 class="cv__header">Education</h3>
  <%= render 'pages/cv/education' %>

  <h3 class="cv__header">Experience</h3>
  <%= render 'pages/cv/experience' %>

  <h3 class="cv__header">Publications</h3>
  <%= render 'pages/cv/publications' %>

  <h3 class="cv__header">Personal projects</h3>
  <%= render 'pages/cv/personal_projects' %>

  <h3 class="cv__header">Open source contributions</h3>
  <%= render 'pages/cv/open_source_contributions' %>

  <h3 class="cv__header">Computer skills</h3>
  <div>
    Proficient programming skills in Ruby and JavaScript. Good knowledge of
    GNU/Linux and Shell. Experience with Erlang, C, Smalltalk, Python, Go, Perl,
    PHP, Java, Apex, Haskell, SQL and ELisp. Knowledge of JavaScript frameworks
    such as Backbone, Marionette and Angular, including Node.js.
  </div>

  <h3 class="cv__header">Hobbies</h3>
  <div>Computer games, bicycles, football.</div>
</div>
