<div class="cv-exp">
  <div class="cv-exp__position">Software Engineer</div>
  <div class="cv-exp__location">
    <div><%= link_to 'Airbrake', 'https://airbrake.io' %></div>
    <div>Remote</div>
  </div>
  <div class="cv__year">July&ndash;&hellip; 2015</div>
</div>
<div>Still working there&hellip;</div>

<div class="cv-exp">
  <div class="cv-exp__position">Software Engineer (intern)</div>
  <div class="cv-exp__location">
    <div><%= link_to 'Bugsnag', 'https://bugsnag.com' %></div>
    <div>San Francisco, United States</div>
  </div>
  <div class="cv__year">July&ndash;September 2014</div>
</div>
<div>
  Helped maintaining and improving Bugsnag
  <%= link_to 'notifier libraries', 'https://github.com/bugsnag' %>, provided customer
  support for its users. Implemented example applications for various
  programming languages that show how to integrate them.
  <%= link_to 'Greatly improved', 'https://bugsnag.com/blog/javascript-notifier-upgrade' %> support
  for JavaScript error parsing. Built a simple framework for integration testing
  of the notifier libraries.
</div>

<div class="cv-exp">
  <div class="cv-exp__position">Software Engineer</div>
  <div class="cv-exp__location">
    <div><%= link_to 'AppDragon', 'http://appdragon.com.ua' %></div>
    <div>Kharkiv, Ukraine</div>
  </div>
  <div class="cv__year">Summer&ndash;Autumn 2013</div>
</div>
<div>
  Improved responsiveness of
  <%= link_to 'OnAir Player', 'https://www.kickstarter.com/projects/onairplayer/onair-box' %>
  (front-end part, written in JavaScript). Was outstaffed to
  <%= link_to 'Iskra Dev', 'http://iskradev.com' %> and worked for them remotely
  where developed a <%= link_to 'demo application', 'http://insuranceapp.herokuapp.com' %>
  for iPad (front-end, JS) and scaffolded back-end infrastructure for it (using
  Salesforce and Apex).
</div>

<div class="cv-exp">
  <div class="cv-exp__position">Software Engineer</div>
  <div class="cv-exp__location">
    <div>Freelance</div>
    <div>Remote</div>
  </div>
  <div class="cv__year">Spring 2010 &mdash; Autumn 2013</div>
</div>
<div>
  Worked for various clients: <%= link_to 'DJ TechTools', 'http://djtechtools.com' %>,
  <%= link_to 'Primate Inc.', 'http://primateinc.com' %>,
  <%= link_to 'Riviera', 'http://riviera.kharkov.ua' %>,
  <%= link_to 'Aerobel', 'http://aerobel.ru' %> and
  <%= link_to 'Smart Gadget', 'http://smartgadget.com.ua' %>,
  <%= link_to 'Kredmash Dealer', 'http://kredmash-dealer.com' %>,
  <%= link_to 'Chic et Nature', 'http://www.chicetnature.com' %>. Duties included
  developing Rails applications, web design, administration of servers and
  other.
</div>
