<% if current_page? post_path(post) %>
  <%= content_for(:title) { post.title } %>
<% end %>

<div class="post">
  <h1><%= link_to_unless_current post.title, post %></h1>

  <% if current_user %>
    <div class="adm">
      <ul class="post-control">
        <li><%= link_to '[edit]', edit_post_path(post) %></li>
        <li>
          <%= link_to '[delete]', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      </ul>
    </div>
  <% end %>

  <div class="published_at"><%= post.created_at.strftime('%B %d, %Y') %></div>
  <div class="post-content"><%= post.html.html_safe %></div>
</div>
