<footer id="footer">
  <div class="content">
    <div class="extra-links">
      <div id="footer-menu">
        <ul><li class="item"><a href="/cv">Curriculum vitae</a></li></ul>
      </div>

      <div id="powered-by">
        <ul>
          <li class="item">
            <a href="https://github.com/kyrylo/kyrylo.org">kyrylo.org</a> is
            open source Software. Available since August 2014
          </li>

          <li class="item">
            This content is licenced under the
            <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0 licence</a>
          </li>
        </ul>
      </div>
    </div>

    <div id="contact-info">
      <div id="contact-info">
        <table>
          <tr>
            <td class="left">Email:</td>
            <td class="right">
              <span>&lt;</span><a href="mailto:silin@kyrylo.org">silin@kyrylo.org</a><span>&gt;</span>
            </td>
          </tr>

          <tr>
            <td class="left">Ring-a-Ding-Ding:</td>
            <td class="right">+380 98 909-30-34</td>
          </tr>

          <tr>
            <td class="left">Elsewhere:</td>
            <td class="right">
              <a class="contact-info__icon-link"
                 href="https://github.com/kyrylo"
                 title="GitHub profile - kyrylo">
                <%= image_tag 'github.svg', class: 'contact-info__social-icon', alt: 'GitHub profile - kyrylo' %>
              </a>

              <a class="contact-info__icon-link"
                 href="https://twitter.com/kyrylosilin"
                 title="Twitter profile - kyrylosilin">
                <%= image_tag 'twitter.svg', class: 'contact-info__social-icon', alt: 'Twitter profile - kyrylosilin' %>
              </a>

              <a class="contact-info__icon-link"
                 href="https://facebook.com/kyrylo.silin"
                 title="Facebook profile - kyrylo.silin">
                <%= image_tag 'facebook.svg', class: 'contact-info__social-icon', alt: 'Facebook profile - kyrylo.silin' %>
              </a>

              <a class="contact-info__icon-link"
                 href="https://telegram.me/kyrylosilin"
                 title="Telegram profile - kyrylosilin">
                <%= image_tag 'telegram.svg', class: 'contact-info__social-icon', alt: 'Telegram profile - kyrylo' %>
              </a>

              <a class="contact-info__icon-link"
                 href="https://foursquare.com/user/343625183"
                 title="Foursquare profile - 343625183">
                <%= image_tag 'foursquare.svg', class: 'contact-info__social-icon', alt: 'Foursquare profile - kyrylo' %>
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</footer>
